#root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-between;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-around;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  height: 300px; /* Adjust the height of the product items */
}

.product p {
  font-weight: bold;
  margin-bottom: 5px;
}

.product img {
  max-width: 100%;
  height: auto;
  max-height: 150px; /* Limit the height of the product images */
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 1rem;
  /* margin: 0 5px; */
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.pagination button.currentPage {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

.hidden {
  /* display: none; */
  opacity: 0.5;
  background-color: #111;
}
